ul.weather-list {
  list-style: none;
  display: flex;
}

ul.weather-list li {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.img-weather {
  width: 80px;
}

.enlace {
  text-decoration: none;
  color: black;
}

/* FOOTER */

.img-aemet {
  width: 100px;
}
